<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">App Dados</span>
  </div>
</nav>
<br>
<div class="container">
  <div class="row mt-4">
    <div class="jumbotron text-center">
      <button class="btn btn-success btn-lg" (click)="tirarDados()">Tirar Dados</button>
      <br>
      <img class="img" [src]="dadoIzq">
      <img class="img" [src]="dadoDer">
      <h1 *ngIf="num1 === num2"><span class="badge text-bg-success">Ganaste!</span></h1>
    </div>
  </div>
</div>